adlfs
fiona
geopandas
matplotlib
metpy
rasterio
rioxarray
odc-stac==0.3.10
osmnx
pandas
planetary_computer
pvlib
pykml
pystac_client
pystac==1.11.0
pyproj
scikit-learn
seaborn
stackstac
shapely
xarray[complete]
zarr